<h3 class="text-center">Template Driven Login Form</h3>
<form class="form-control" #loginForm="ngForm" (ngSubmit)="submit(loginForm.value) ">
  <input type="text" class="form-inputs"  name="name" #name="ngModel" placeholder="Enter your name" ngModel required>
  <br>
  <span *ngIf="name.invalid && name.touched" style="font-size: small;">Please enter your name correctly!!</span>
  <!-- <br> -->
  <br>

  <input type="password" name="password" required #password="ngModel" placeholder="Enter your password" ngModel >
  <!-- <br> -->
  <br>
  <span *ngIf="password.invalid && password.touched" style="font-size: small;">Please enter your password correctly!!</span>
  <!-- <br/> -->
  <br/>

  <!-- <span *ngIf="name.invalid && password.invalid">Please enter the valid credentials!!</span> -->
  <button class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
</form>
<br>
<br>
<br>
<!-- <button  (click)="submit(loginForm.value)">Outside form button</button> -->
<h3>Reactive Form</h3>
<app-form-react></app-form-react>